* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
  font-family: 'PT Sans', sans-serif;
}
:root {
  --bg-color: #2D2E39;
}
body {
  min-height: 100vh;
  color: #fff;
  background-color: var(--bg-color);
}
iframe {
  width: 100%;
  height: 90vh;
}
